:root {
    --primary: #FFF;
    --primary-contrast: #000;
    --secondary: #F0F3F4;
    --secondary-contrast: #8D99A1;
    --tertiary: #1d9bf0;
    --tertiary-contrast: #FFF;
    --border-color: rgba(240, 243, 244, 1);
    --border: 1px solid var(--border-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    height: 500px;
    background-color: aqua;
    border: 1px solid black;
}

.list-group a.active {
    background-color: var(--tertiary);
}

#explore-container {
    padding-top: 15px;
}

/* PAGES */
.link-label {
    font-weight: 600;
    margin-left: 10px;
}

.tuit-button, .action-button {
    margin-top: 10px;
    padding: 10px;
    border: 0;
    outline: none;
    width: 100%;
    border-radius: 20px;
    background-color: var(--tertiary);
    color: var(--tertiary-contrast);
    font-weight: 600;
}


.tweet-icon  {
    display: none;
}

/* ---------------- START: EXPLORE CONTENT  ------------------------*/
.explore-content-container {
    height: 100%;
    padding: 0;
}
/* HEADER */
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-settings-container,
.wd-search-container {
}

/* SEARCH BAR */
.wd-search-container {
    flex: 1;
}
.wd-search-bar {
    background-color: var(--secondary);
    padding: 12px;
    border-radius: calc(45px / 2);
    display: flex;
    align-items: center;
}

.wd-search-icon {
    color: var(--secondary-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#search-input {
    height: 20px;
    margin-left: 10px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-contrast);
}

/* SETTINGS */
.wd-settings-container {
    margin-left: 10px;
}
.wd-settings-container #settings-icon {
    color: var(--tertiary);
    font-size: 1.5em;
    font-weight: bold;
    
}

/* TABS */
.tabs-container {
    margin-top: 10px;
}

/* BANNER */
.banner-container {
    margin-top: 5px;
    position: relative;
}
.banner-img {
    width: 100%;
}
.banner-text {
    position:absolute;
    bottom: 5px;
    left:10px;
    z-index: 1;
    color: var(--primary);
    font-size: 2rem;
    font-weight: 600;
}

/* SUGGESTED POSTS */
.wd-suggested-posts-container {
  
    border-left: var(--border);
    border-right: var(--border);
}
.wd-post {
    padding: 10px 16px;
    border-bottom: 0.5px solid var(--border-color);
}

.wd-post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-trending-topic,
.wd-tweets-count,
.wd-ellipses,
.wd-topic-heading {
    font-size: 13px;
    color: var(--secondary-contrast);
}

.wd-topic-heading {
    display: flex;
    align-items: center;
}

.wd-separator {
    font-size: 4px;
    margin: 0 5px;
}

.wd-topic {
    font-weight: 600;
    margin: 5px 0;
    font-size: 15px;
}

.wd-user {
    display: flex;
    align-items: center;
}

.wd-post-user {
    --width: 15px;
    height: var(--width);
    width: var(--width);
    border-radius: 50%;
    margin-right: 5px;
}

.wd-username {
    color: var(--primary-contrast);
    font-weight: 600;
    margin-right: 5px;
}

.wd-verified-user {
    color: var(--primary-contrast);
}

.wd-attachment-image img {
    --width: 100%;
    
    width: var(--width);
    border-radius: 10px;
}
.wd-post-details {
    flex: 4;
}

.wd-attachment-image {
    flex: 1
}
.wd-post.wd-attachment {
    display: flex;
    justify-content: space-between;
}

/* ---------------- END: EXPLORE CONTENT  ------------------------*/

/* ---------------- START: WHO TO FOLLOW -------------------- */
/* WHO TO FOLLOW */
.follow-heading {
    font-weight: 700;
    font-size: 1rem;
}

.account-container {
    display: flex;
    align-items: center;
}

.dp {
    margin-right: 5px;
}

.dp img {
    width: 35px;
    border-radius: 50%;
}

.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info .wd-user {
    font-size: 0.9rem;
}

.user-handle {
    font-size: 0.8rem;
}

.follow-button {
    flex: 0.3;
}

.follow-button .action-button {
    padding: 5px;
    font-size: 0.8rem;
}
/* ---------------- END: WHO TO FOLLOW -------------------- */



/* MEDIA QUERIES */

@media screen and (width < 1200px)  {
    .pages-container {
        max-width: 100px;
    }
    .list-group-item {
        text-align: center;
    }
    .link-label {
        display: none;
    }
    .tweet-icon {
        display: block;
    }
    .tweet-text {
        display: none;
    }
}

@media screen and (width <= 800px) {
    .who-to-follow-container {
        display: none;
    }

    .explore-content-container {
        flex: 1;
        padding-right: 10px;
    }
}
