:root {
    --primary: #000;
    --primary-contrast: #fff;
    --secondary: #202327;
    --secondary-contrast: #484c50;
    --tertiary: #1d9bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--primary);
}

html,
body {
    height: 100%;
}

.wd-fill-content {
    visibility: hidden;
}

/* CONTAINER */
#explore-container {
    max-width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    color: var(--primary-contrast);
    border: 1px solid var(--secondary);
    border-top: 0;
    border-bottom: 0;
    height: 100%;
}

/* HEADER */
#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wd-settings-container,
.wd-search-container {
}

/* SEARCH BAR */
.wd-search-bar {
    background-color: var(--secondary);
    padding: 12px;
    border-radius: calc(45px / 2);
    display: flex;
    align-items: center;
}

.wd-search-icon {
    color: var(--secondary-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#search-input {
    height: 20px;
    margin-left: 10px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    width: 450px;
    font-size: 1rem;
    color: var(--primary-contrast);
}

/* SETTINGS */
.wd-settings-container #settings-icon {
    color: var(--tertiary);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 50px;
}

/* TABS */
.wd-tabs-container {
    margin-top: 30px;
    border-bottom: 2px solid var(--secondary-contrast);
}
.wd-tabs-container > ul {
    display: flex;
    justify-content: space-between;
}

.wd-tabs-container li {
    padding: 12px;
}

.wd-tabs-container a {
    color: var(--primary-contrast);
    text-decoration: none;

    font-size: 16px;
}
.wd-tabs-container ul {
    list-style-type: none;
}

.wd-tabs-container input {
    display: none;
}

.wd-tabs-container input:checked + label {
    color: #1d9bf0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--tertiary);
}

/* CONTENT SEPARATOR */
.wd-content-separator {
    height: 10px;
    background-color: var(--secondary);
}

/* SUGGESTED POSTS */
.wd-post {
    padding: 10px 16px;
    border-bottom: 0.5px solid var(--secondary-contrast);
}

.wd-post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-trending-topic,
.wd-tweets-count,
.wd-ellipses,
.wd-topic-heading {
    font-size: 13px;
    color: var(--secondary-contrast);
}

.wd-topic-heading {
    display: flex;
    align-items: center;
}

.wd-separator {
    font-size: 4px;
    margin: 0 5px;
}

.wd-topic {
    font-weight: bold;
    margin: 5px 0;
    font-size: 15px;
}

.wd-user {
    display: flex;
    align-items: center;
}

.wd-post-user {
    --width: 15px;
    height: var(--width);
    width: var(--width);
    border-radius: 50%;
    margin-right: 5px;
}

.wd-username {
    color: var(--primary-contrast);
    font-weight: 600;
    margin-right: 5px;
}

.wd-verified-user {
    color: var(--primary-contrast);
}

.wd-attachment-image img {
    --width: 100px;
    height: var(--width);
    width: var(--width);
    border-radius: 10px;
}

.wd-post.wd-attachment {
    display: flex;
    justify-content: space-between;
}
